$primary-color: #161B22;

$primary-font-color: #333333;
$secondary-font-color: #666666;
$tertiary-font-color: #999999;

$background-color: #EBEBEB;
$main-background-color: #FFFFFF;

$primary-button-color: #3483FA;
$primary-button-color-hover: #2968c8;

$secondary-button-color:#EEEEEE;
$secondary-button-color-hover: #d6d6d6;


$default-border-radius: 4px;