.user-list-repo {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 5px;
      h1 {
        font-size: 20px;
      }

      .description-bio {
        font-size: 14px;
        color: #666;
      }

      p {
        margin-bottom: 5px;

        svg {
          margin-right: 10px;
        }

        span {
          margin-right: 25px;
        }
      }

      border-bottom: 1px solid #c0c0c0;
    }
  }
}
